In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
df = pd.read_csv(r'/Users/nishitshah/Documents/SQL:Youtube course/Airline EDA/archive (1)/flights_sample_3m.csv')
df

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,...,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
0,2019-01-09,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,1562,FLL,"Fort Lauderdale, FL",EWR,"Newark, NJ",...,0.0,186.0,176.0,153.0,1065.0,NaN,NaN,NaN,NaN,NaN
1,2022-11-19,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,1149,MSP,"Minneapolis, MN",SEA,"Seattle, WA",...,0.0,235.0,236.0,189.0,1399.0,NaN,NaN,NaN,NaN,NaN
2,2022-07-22,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,459,DEN,"Denver, CO",MSP,"Minneapolis, MN",...,0.0,118.0,112.0,87.0,680.0,NaN,NaN,NaN,NaN,NaN
3,2023-03-06,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2295,MSP,"Minneapolis, MN",SFO,"San Francisco, CA",...,0.0,260.0,285.0,249.0,1589.0,0.0,0.0,24.0,0.0,0.0
4,2020-02-23,Spirit Air Lines,Spirit Air Lines: NK,NK,20416,407,MCO,"Orlando, FL",DFW,"Dallas/Fort Worth, TX",...,0.0,181.0,182.0,153.0,985.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,2022-11-13,American Airlines Inc.,American Airlines Inc.: AA,AA,19805,1522,JAX,"Jacksonville, FL",CLT,"Charlotte, NC",...,0.0,85.0,71.0,55.0,328.0,NaN,NaN,NaN,NaN,NaN
2999996,2022-11-02,American Airlines Inc.,American Airlines Inc.: AA,AA,19805,1535,ORD,"Chicago, IL",AUS,"Austin, TX",...,0.0,176.0,145.0,130.0,977.0,NaN,NaN,NaN,NaN,NaN
2999997,2022-09-11,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2745,HSV,"Huntsville, AL",ATL,"Atlanta, GA",...,0.0,55.0,50.0,28.0,151.0,0.0,36.0,0.0,0.0,0.0
2999998,2019-11-13,Republic Airline,Republic Airline: YX,YX,20452,6134,BOS,"Boston, MA",LGA,"New York, NY",...,0.0,88.0,77.0,50.0,184.0,NaN,NaN,NaN,NaN,NaN
2999999,2019-06-15,Southwest Airlines Co.,Southwest Airlines Co.: WN,WN,19393,2823,LGB,"Long Beach, CA",SJC,"San Jose, CA",...,0.0,70.0,63.0,52.0,324.0,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000000 entries, 0 to 2999999
Data columns (total 32 columns):
 #   Column                   Dtype
---  ------                   -----
 0   FL_DATE                  object
 1   AIRLINE                  object
 2   AIRLINE_DOT              object
 3   AIRLINE_CODE             object
 4   DOT_CODE                 int64
 5   FL_NUMBER                int64
 6   ORIGIN                   object
 7   ORIGIN_CITY              object
 8   DEST                     object
 9   DEST_CITY                object
 10  CRS_DEP_TIME             int64
 11  DEP_TIME                 float64
 12  DEP_DELAY                float64
 13  TAXI_OUT                 float64
 14  WHEELS_OFF               float64
 15  WHEELS_ON                float64
 16  TAXI_IN                  float64
 17  CRS_ARR_TIME             int64
 18  ARR_TIME                 float64
 19  ARR_DELAY                float64
 20  CANCELLED                float64
 21  CANCELLATION_CODE        object
 22  DIVERTED                 float64
 23  CRS_ELAPSED_TIME         float64
 24  ELAPSED_TIME             float64
 25  AIR_TIME                 float64
 26  DISTANCE                 float64
 27  DELAY_DUE_CARRIER        float64
 28  DELAY_DUE_WEATHER        float64
 29  DELAY_DUE_NAS            float64
 30  DELAY_DUE_SECURITY       float64
 31  DELAY_DUE_LATE_AIRCRAFT  float64
dtypes: float64(19), int64(4), object(9)
memory usage: 732.4+ MB

In [4]:
df['FL_DATE'] = pd.to_datetime(df["FL_DATE"])

In [5]:
df["AIRLINE"].unique()

array(['United Air Lines Inc.', 'Delta Air Lines Inc.',
       'Spirit Air Lines', 'Southwest Airlines Co.',
       'American Airlines Inc.', 'Republic Airline',
       'Alaska Airlines Inc.', 'JetBlue Airways', 'PSA Airlines Inc.',
       'Allegiant Air', 'ExpressJet Airlines LLC d/b/a aha!',
       'SkyWest Airlines Inc.', 'Endeavor Air Inc.', 'Envoy Air',
       'Frontier Airlines Inc.', 'Mesa Airlines Inc.', 'Horizon Air',
       'Hawaiian Airlines Inc.'], dtype=object)

In [6]:
df.groupby("AIRLINE").count().sort_values(by='AIRLINE_CODE', ascending= False)
# Removing Horizon Air, Express Jet, endeavor air, skywest, Envoy Air, PSA, Mesa,alliant Air

,FL_DATE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,CRS_DEP_TIME,...,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
AIRLINE,,,,,,,,,,,,,,,,,,,,,
Southwest Airlines Co.,576470,576470,576470,576470,576470,576470,576470,576470,576470,576470,...,576470,576470,555869,555869,576470,107275,107275,107275,107275,107275
Delta Air Lines Inc.,395239,395239,395239,395239,395239,395239,395239,395239,395239,395239,...,395239,395239,388475,388475,395239,55964,55964,55964,55964,55964
American Airlines Inc.,383106,383106,383106,383106,383106,383106,383106,383106,383106,383106,...,383106,383106,371218,371218,383106,73864,73864,73864,73864,73864
SkyWest Airlines Inc.,343737,343737,343737,343737,343737,343737,343737,343737,343737,343737,...,343737,343736,334986,334986,343737,53222,53222,53222,53222,53222
United Air Lines Inc.,254504,254504,254504,254504,254504,254504,254504,254504,254504,254504,...,254504,254504,248270,248270,254504,47559,47559,47559,47559,47559
Republic Airline,143107,143107,143107,143107,143107,143107,143107,143107,143107,143107,...,143107,143107,138147,138147,143107,21830,21830,21830,21830,21830
Envoy Air,121256,121256,121256,121256,121256,121256,121256,121256,121256,121256,...,121256,121256,117312,117312,121256,20406,20406,20406,20406,20406
JetBlue Airways,112844,112844,112844,112844,112844,112844,112844,112844,112844,112844,...,112844,112844,109447,109447,112844,29553,29553,29553,29553,29553
Endeavor Air Inc.,112463,112463,112463,112463,112463,112463,112463,112463,112463,112463,...,112463,112463,109848,109848,112463,14324,14324,14324,14324,14324
PSA Airlines Inc.,107050,107050,107050,107050,107050,107050,107050,107050,107050,107050,...,107050,107050,103483,103483,107050,17956,17956,17956,17956,17956
Alaska Airlines Inc.,100467,100467,100467,100467,100467,100467,100467,100467,100467,100467,...,100467,100467,98294,98294,100467,17870,17870,17870,17870,17870
Spirit Air Lines,95711,95711,95711,95711,95711,95711,95711,95711,95711,95711,...,95711,95711,93200,93200,95711,20615,20615,20615,20615,20615
Mesa Airlines Inc.,65012,65012,65012,65012,65012,65012,65012,65012,65012,65012,...,65012,65011,62477,62477,65012,11637,11637,11637,11637,11637
Frontier Airlines Inc.,64466,64466,64466,64466,64466,64466,64466,64466,64466,64466,...,64466,64466,62711,62711,64466,16712,16712,16712,16712,16712
Allegiant Air,52738,52738,52738,52738,52738,52738,52738,52738,52738,52738,...,52738,52738,50179,50179,52738,13091,13091,13091,13091,13091
Hawaiian Airlines Inc.,32114,32114,32114,32114,32114,32114,32114,32114,32114,32114,...,32114,32114,31698,31698,32114,5192,5192,5192,5192,5192
Horizon Air,20634,20634,20634,20634,20634,20634,20634,20634,20634,20634,...,20634,20634,20237,20237,20634,2937,2937,2937,2937,2937
ExpressJet Airlines LLC d/b/a aha!,19082,19082,19082,19082,19082,19082,19082,19082,19082,19082,...,19082,19070,17951,17951,19082,3856,3856,3856,3856,3856

In [7]:
airlines_to_remove = ['Republic Airline','Mesa Airlines Inc.','ExpressJet Airlines LLC d/b/a aha!','Horizon Air','Allegiant Air','PSA Airlines Inc.','Endeavor Air Inc.','Envoy Air','SkyWest Airlines Inc.']
df = df[~df['AIRLINE'].isin(airlines_to_remove)]
df

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,...,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
0,2019-01-09,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,1562,FLL,"Fort Lauderdale, FL",EWR,"Newark, NJ",...,0.0,186.0,176.0,153.0,1065.0,NaN,NaN,NaN,NaN,NaN
1,2022-11-19,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,1149,MSP,"Minneapolis, MN",SEA,"Seattle, WA",...,0.0,235.0,236.0,189.0,1399.0,NaN,NaN,NaN,NaN,NaN
2,2022-07-22,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,459,DEN,"Denver, CO",MSP,"Minneapolis, MN",...,0.0,118.0,112.0,87.0,680.0,NaN,NaN,NaN,NaN,NaN
3,2023-03-06,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2295,MSP,"Minneapolis, MN",SFO,"San Francisco, CA",...,0.0,260.0,285.0,249.0,1589.0,0.0,0.0,24.0,0.0,0.0
4,2020-02-23,Spirit Air Lines,Spirit Air Lines: NK,NK,20416,407,MCO,"Orlando, FL",DFW,"Dallas/Fort Worth, TX",...,0.0,181.0,182.0,153.0,985.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999994,2020-08-31,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,1408,FLL,"Fort Lauderdale, FL",LGA,"New York, NY",...,0.0,164.0,160.0,138.0,1076.0,NaN,NaN,NaN,NaN,NaN
2999995,2022-11-13,American Airlines Inc.,American Airlines Inc.: AA,AA,19805,1522,JAX,"Jacksonville, FL",CLT,"Charlotte, NC",...,0.0,85.0,71.0,55.0,328.0,NaN,NaN,NaN,NaN,NaN
2999996,2022-11-02,American Airlines Inc.,American Airlines Inc.: AA,AA,19805,1535,ORD,"Chicago, IL",AUS,"Austin, TX",...,0.0,176.0,145.0,130.0,977.0,NaN,NaN,NaN,NaN,NaN
2999997,2022-09-11,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2745,HSV,"Huntsville, AL",ATL,"Atlanta, GA",...,0.0,55.0,50.0,28.0,151.0,0.0,36.0,0.0,0.0,0.0
2999999,2019-06-15,Southwest Airlines Co.,Southwest Airlines Co.: WN,WN,19393,2823,LGB,"Long Beach, CA",SJC,"San Jose, CA",...,0.0,70.0,63.0,52.0,324.0,NaN,NaN,NaN,NaN,NaN

In [8]:
df.groupby("AIRLINE").count().sort_values(by='AIRLINE_CODE', ascending= False)

,FL_DATE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,CRS_DEP_TIME,...,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
AIRLINE,,,,,,,,,,,,,,,,,,,,,
Southwest Airlines Co.,576470,576470,576470,576470,576470,576470,576470,576470,576470,576470,...,576470,576470,555869,555869,576470,107275,107275,107275,107275,107275
Delta Air Lines Inc.,395239,395239,395239,395239,395239,395239,395239,395239,395239,395239,...,395239,395239,388475,388475,395239,55964,55964,55964,55964,55964
American Airlines Inc.,383106,383106,383106,383106,383106,383106,383106,383106,383106,383106,...,383106,383106,371218,371218,383106,73864,73864,73864,73864,73864
United Air Lines Inc.,254504,254504,254504,254504,254504,254504,254504,254504,254504,254504,...,254504,254504,248270,248270,254504,47559,47559,47559,47559,47559
JetBlue Airways,112844,112844,112844,112844,112844,112844,112844,112844,112844,112844,...,112844,112844,109447,109447,112844,29553,29553,29553,29553,29553
Alaska Airlines Inc.,100467,100467,100467,100467,100467,100467,100467,100467,100467,100467,...,100467,100467,98294,98294,100467,17870,17870,17870,17870,17870
Spirit Air Lines,95711,95711,95711,95711,95711,95711,95711,95711,95711,95711,...,95711,95711,93200,93200,95711,20615,20615,20615,20615,20615
Frontier Airlines Inc.,64466,64466,64466,64466,64466,64466,64466,64466,64466,64466,...,64466,64466,62711,62711,64466,16712,16712,16712,16712,16712
Hawaiian Airlines Inc.,32114,32114,32114,32114,32114,32114,32114,32114,32114,32114,...,32114,32114,31698,31698,32114,5192,5192,5192,5192,5192

In [9]:
df['FL_DATE'].dt.year.unique()

array([2019, 2022, 2023, 2020, 2021])

In [10]:
pd.set_option('display.max.column',32)

In [11]:
df["CANCELLATION_CODE"].unique()

array([nan, 'D', 'A', 'B', 'C'], dtype=object)

In [12]:
df = df[~df['FL_DATE'].dt.year.isin([2019,2020])]
df

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
1,2022-11-19,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,1149,MSP,"Minneapolis, MN",SEA,"Seattle, WA",2120,2114.0,-6.0,9.0,2123.0,2232.0,38.0,2315,2310.0,-5.0,0.0,NaN,0.0,235.0,236.0,189.0,1399.0,NaN,NaN,NaN,NaN,NaN
2,2022-07-22,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,459,DEN,"Denver, CO",MSP,"Minneapolis, MN",954,1000.0,6.0,20.0,1020.0,1247.0,5.0,1252,1252.0,0.0,0.0,NaN,0.0,118.0,112.0,87.0,680.0,NaN,NaN,NaN,NaN,NaN
3,2023-03-06,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2295,MSP,"Minneapolis, MN",SFO,"San Francisco, CA",1609,1608.0,-1.0,27.0,1635.0,1844.0,9.0,1829,1853.0,24.0,0.0,NaN,0.0,260.0,285.0,249.0,1589.0,0.0,0.0,24.0,0.0,0.0
6,2023-06-11,American Airlines Inc.,American Airlines Inc.: AA,AA,19805,2134,DCA,"Washington, DC",BOS,"Boston, MA",1010,1001.0,-9.0,23.0,1024.0,1122.0,8.0,1159,1130.0,-29.0,0.0,NaN,0.0,109.0,89.0,58.0,399.0,NaN,NaN,NaN,NaN,NaN
8,2023-02-12,Spirit Air Lines,Spirit Air Lines: NK,NK,20416,590,IAH,"Houston, TX",LAX,"Los Angeles, CA",530,527.0,-3.0,11.0,538.0,658.0,8.0,717,706.0,-11.0,0.0,NaN,0.0,227.0,219.0,200.0,1379.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999986,2022-02-09,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2841,ATL,"Atlanta, GA",EWR,"Newark, NJ",815,806.0,-9.0,15.0,821.0,954.0,7.0,1019,1001.0,-18.0,0.0,NaN,0.0,124.0,115.0,93.0,746.0,NaN,NaN,NaN,NaN,NaN
2999991,2021-12-03,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,1146,MSP,"Minneapolis, MN",SNA,"Santa Ana, CA",1825,1833.0,8.0,23.0,1856.0,2015.0,7.0,2030,2022.0,-8.0,0.0,NaN,0.0,245.0,229.0,199.0,1522.0,NaN,NaN,NaN,NaN,NaN
2999995,2022-11-13,American Airlines Inc.,American Airlines Inc.: AA,AA,19805,1522,JAX,"Jacksonville, FL",CLT,"Charlotte, NC",1742,1740.0,-2.0,10.0,1750.0,1845.0,6.0,1907,1851.0,-16.0,0.0,NaN,0.0,85.0,71.0,55.0,328.0,NaN,NaN,NaN,NaN,NaN
2999996,2022-11-02,American Airlines Inc.,American Airlines Inc.: AA,AA,19805,1535,ORD,"Chicago, IL",AUS,"Austin, TX",1300,1254.0,-6.0,10.0,1304.0,1514.0,5.0,1556,1519.0,-37.0,0.0,NaN,0.0,176.0,145.0,130.0,977.0,NaN,NaN,NaN,NaN,NaN
2999997,2022-09-11,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2745,HSV,"Huntsville, AL",ATL,"Atlanta, GA",534,615.0,41.0,16.0,631.0,759.0,6.0,729,805.0,36.0,0.0,NaN,0.0,55.0,50.0,28.0,151.0,0.0,36.0,0.0,0.0,0.0

In [13]:
df['FL_DATE'].dt.year.unique()

array([2022, 2023, 2021])

In [14]:
df.reset_index().drop(columns='index')

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
0,2022-11-19,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,1149,MSP,"Minneapolis, MN",SEA,"Seattle, WA",2120,2114.0,-6.0,9.0,2123.0,2232.0,38.0,2315,2310.0,-5.0,0.0,NaN,0.0,235.0,236.0,189.0,1399.0,NaN,NaN,NaN,NaN,NaN
1,2022-07-22,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,459,DEN,"Denver, CO",MSP,"Minneapolis, MN",954,1000.0,6.0,20.0,1020.0,1247.0,5.0,1252,1252.0,0.0,0.0,NaN,0.0,118.0,112.0,87.0,680.0,NaN,NaN,NaN,NaN,NaN
2,2023-03-06,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2295,MSP,"Minneapolis, MN",SFO,"San Francisco, CA",1609,1608.0,-1.0,27.0,1635.0,1844.0,9.0,1829,1853.0,24.0,0.0,NaN,0.0,260.0,285.0,249.0,1589.0,0.0,0.0,24.0,0.0,0.0
3,2023-06-11,American Airlines Inc.,American Airlines Inc.: AA,AA,19805,2134,DCA,"Washington, DC",BOS,"Boston, MA",1010,1001.0,-9.0,23.0,1024.0,1122.0,8.0,1159,1130.0,-29.0,0.0,NaN,0.0,109.0,89.0,58.0,399.0,NaN,NaN,NaN,NaN,NaN
4,2023-02-12,Spirit Air Lines,Spirit Air Lines: NK,NK,20416,590,IAH,"Houston, TX",LAX,"Los Angeles, CA",530,527.0,-3.0,11.0,538.0,658.0,8.0,717,706.0,-11.0,0.0,NaN,0.0,227.0,219.0,200.0,1379.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1209465,2022-02-09,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2841,ATL,"Atlanta, GA",EWR,"Newark, NJ",815,806.0,-9.0,15.0,821.0,954.0,7.0,1019,1001.0,-18.0,0.0,NaN,0.0,124.0,115.0,93.0,746.0,NaN,NaN,NaN,NaN,NaN
1209466,2021-12-03,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,1146,MSP,"Minneapolis, MN",SNA,"Santa Ana, CA",1825,1833.0,8.0,23.0,1856.0,2015.0,7.0,2030,2022.0,-8.0,0.0,NaN,0.0,245.0,229.0,199.0,1522.0,NaN,NaN,NaN,NaN,NaN
1209467,2022-11-13,American Airlines Inc.,American Airlines Inc.: AA,AA,19805,1522,JAX,"Jacksonville, FL",CLT,"Charlotte, NC",1742,1740.0,-2.0,10.0,1750.0,1845.0,6.0,1907,1851.0,-16.0,0.0,NaN,0.0,85.0,71.0,55.0,328.0,NaN,NaN,NaN,NaN,NaN
1209468,2022-11-02,American Airlines Inc.,American Airlines Inc.: AA,AA,19805,1535,ORD,"Chicago, IL",AUS,"Austin, TX",1300,1254.0,-6.0,10.0,1304.0,1514.0,5.0,1556,1519.0,-37.0,0.0,NaN,0.0,176.0,145.0,130.0,977.0,NaN,NaN,NaN,NaN,NaN
1209469,2022-09-11,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2745,HSV,"Huntsville, AL",ATL,"Atlanta, GA",534,615.0,41.0,16.0,631.0,759.0,6.0,729,805.0,36.0,0.0,NaN,0.0,55.0,50.0,28.0,151.0,0.0,36.0,0.0,0.0,0.0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1209470 entries, 1 to 2999997
Data columns (total 32 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   FL_DATE                  1209470 non-null  datetime64[ns]
 1   AIRLINE                  1209470 non-null  object
 2   AIRLINE_DOT              1209470 non-null  object
 3   AIRLINE_CODE             1209470 non-null  object
 4   DOT_CODE                 1209470 non-null  int64
 5   FL_NUMBER                1209470 non-null  int64
 6   ORIGIN                   1209470 non-null  object
 7   ORIGIN_CITY              1209470 non-null  object
 8   DEST                     1209470 non-null  object
 9   DEST_CITY                1209470 non-null  object
 10  CRS_DEP_TIME             1209470 non-null  int64
 11  DEP_TIME                 1185380 non-null  float64
 12  DEP_DELAY                1185380 non-null  float64
 13  TAXI_OUT                 1184908 non-null  float64
 14  WHEELS_OFF               1184908 non-null  float64
 15  WHEELS_ON                1184560 non-null  float64
 16  TAXI_IN                  1184560 non-null  float64
 17  CRS_ARR_TIME             1209470 non-null  int64
 18  ARR_TIME                 1184561 non-null  float64
 19  ARR_DELAY                1181908 non-null  float64
 20  CANCELLED                1209470 non-null  float64
 21  CANCELLATION_CODE        24636 non-null    object
 22  DIVERTED                 1209470 non-null  float64
 23  CRS_ELAPSED_TIME         1209470 non-null  float64
 24  ELAPSED_TIME             1181908 non-null  float64
 25  AIR_TIME                 1181908 non-null  float64
 26  DISTANCE                 1209470 non-null  float64
 27  DELAY_DUE_CARRIER        256314 non-null   float64
 28  DELAY_DUE_WEATHER        256314 non-null   float64
 29  DELAY_DUE_NAS            256314 non-null   float64
 30  DELAY_DUE_SECURITY       256314 non-null   float64
 31  DELAY_DUE_LATE_AIRCRAFT  256314 non-null   float64
dtypes: datetime64[ns](1), float64(19), int64(4), object(8)
memory usage: 304.5+ MB

In [16]:
df[["CRS_DEP_TIME","CRS_ARR_TIME"]] =df[["CRS_DEP_TIME","CRS_ARR_TIME"]].astype(float)

/var/folders/lf/5q1mlg6j6l7d5fv5_q8srhkh0000gn/T/ipykernel_36414/4233318357.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[["CRS_DEP_TIME","CRS_ARR_TIME"]] =df[["CRS_DEP_TIME","CRS_ARR_TIME"]].astype(float)

In [17]:
df = df.drop(columns="AIRLINE_DOT")

In [18]:
df['CANCELLATION_CODE'] = df['CANCELLATION_CODE'].replace({'A':'A:Carrier Caused', 'B':'B:Weather', 'C':'C:National Aviation System','D':'Security'})

In [19]:
df['CANCELLATION_CODE'].unique()

array([nan, 'A:Carrier Caused', 'B:Weather', 'C:National Aviation System',
       'Security'], dtype=object)

In [20]:
df[(df["CANCELLED"]==1.0) & (df["CANCELLATION_CODE"] == 'nan')]

Empty DataFrame
Columns: [FL_DATE, AIRLINE, AIRLINE_CODE, DOT_CODE, FL_NUMBER, ORIGIN, ORIGIN_CITY, DEST, DEST_CITY, CRS_DEP_TIME, DEP_TIME, DEP_DELAY, TAXI_OUT, WHEELS_OFF, WHEELS_ON, TAXI_IN, CRS_ARR_TIME, ARR_TIME, ARR_DELAY, CANCELLED, CANCELLATION_CODE, DIVERTED, CRS_ELAPSED_TIME, ELAPSED_TIME, AIR_TIME, DISTANCE, DELAY_DUE_CARRIER, DELAY_DUE_WEATHER, DELAY_DUE_NAS, DELAY_DUE_SECURITY, DELAY_DUE_LATE_AIRCRAFT]
Index: []

In [21]:
#Convert 'nan' value to null
df.isnull().sum()

FL_DATE                          0
AIRLINE                          0
AIRLINE_CODE                     0
DOT_CODE                         0
FL_NUMBER                        0
ORIGIN                           0
ORIGIN_CITY                      0
DEST                             0
DEST_CITY                        0
CRS_DEP_TIME                     0
DEP_TIME                     24090
DEP_DELAY                    24090
TAXI_OUT                     24562
WHEELS_OFF                   24562
WHEELS_ON                    24910
TAXI_IN                      24910
CRS_ARR_TIME                     0
ARR_TIME                     24909
ARR_DELAY                    27562
CANCELLED                        0
CANCELLATION_CODE          1184834
DIVERTED                         0
CRS_ELAPSED_TIME                 0
ELAPSED_TIME                 27562
AIR_TIME                     27562
DISTANCE                         0
DELAY_DUE_CARRIER           953156
DELAY_DUE_WEATHER           953156
DELAY_DUE_NAS               953156
DELAY_DUE_SECURITY          953156
DELAY_DUE_LATE_AIRCRAFT     953156
dtype: int64

In [22]:
df = df.replace('nan',np.nan)

In [23]:
df[(df["DIVERTED"] == 1) & df["ARR_TIME"].isnull() & df["ELAPSED_TIME"].isnull()]

,FL_DATE,AIRLINE,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
17349,2022-06-17,American Airlines Inc.,AA,19805,1389,MIA,"Miami, FL",LGA,"New York, NY",2032.0,2221.0,109.0,20.0,2241.0,NaN,NaN,2330.0,NaN,NaN,0.0,NaN,1.0,178.0,NaN,NaN,1096.0,NaN,NaN,NaN,NaN,NaN
25865,2023-06-15,JetBlue Airways,B6,20409,2060,RSW,"Fort Myers, FL",LGA,"New York, NY",1819.0,45.0,386.0,33.0,118.0,NaN,NaN,2119.0,NaN,NaN,0.0,NaN,1.0,180.0,NaN,NaN,1080.0,NaN,NaN,NaN,NaN,NaN
33444,2021-07-17,American Airlines Inc.,AA,19805,1121,DCA,"Washington, DC",LGA,"New York, NY",1400.0,1745.0,225.0,20.0,1805.0,NaN,NaN,1522.0,NaN,NaN,0.0,NaN,1.0,82.0,NaN,NaN,214.0,NaN,NaN,NaN,NaN,NaN
50317,2022-01-19,United Air Lines Inc.,UA,19977,1701,LAS,"Las Vegas, NV",EWR,"Newark, NJ",640.0,632.0,-8.0,13.0,645.0,NaN,NaN,1430.0,NaN,NaN,0.0,NaN,1.0,290.0,NaN,NaN,2227.0,NaN,NaN,NaN,NaN,NaN
66324,2021-11-21,Alaska Airlines Inc.,AS,19930,61,YAK,"Yakutat, AK",CDV,"Cordova, AK",1215.0,1244.0,29.0,19.0,1303.0,NaN,NaN,1304.0,NaN,NaN,0.0,NaN,1.0,49.0,NaN,NaN,213.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2957213,2022-01-26,Alaska Airlines Inc.,AS,19930,73,SIT,"Sitka, AK",JNU,"Juneau, AK",600.0,746.0,106.0,22.0,808.0,NaN,NaN,642.0,NaN,NaN,0.0,NaN,1.0,42.0,NaN,NaN,95.0,NaN,NaN,NaN,NaN,NaN
2957654,2022-06-01,JetBlue Airways,B6,20409,814,FLL,"Fort Lauderdale, FL",HPN,"White Plains, NY",2026.0,2036.0,10.0,16.0,2052.0,NaN,NaN,2329.0,NaN,NaN,0.0,NaN,1.0,183.0,NaN,NaN,1097.0,NaN,NaN,NaN,NaN,NaN
2976600,2022-03-17,Southwest Airlines Co.,WN,19393,2531,STL,"St. Louis, MO",LGA,"New York, NY",1350.0,1548.0,118.0,22.0,1610.0,NaN,NaN,1710.0,NaN,NaN,0.0,NaN,1.0,140.0,NaN,NaN,888.0,NaN,NaN,NaN,NaN,NaN
2979451,2022-01-03,Alaska Airlines Inc.,AS,19930,65,PSG,"Petersburg, AK",JNU,"Juneau, AK",1145.0,1257.0,72.0,26.0,1323.0,NaN,NaN,1231.0,NaN,NaN,0.0,NaN,1.0,46.0,NaN,NaN,123.0,NaN,NaN,NaN,NaN,NaN
2981404,2022-05-22,United Air Lines Inc.,UA,19977,2208,STT,"Charlotte Amalie, VI",SJU,"San Juan, PR",1316.0,1354.0,38.0,15.0,1409.0,NaN,NaN,1353.0,NaN,NaN,0.0,NaN,1.0,37.0,NaN,NaN,68.0,NaN,NaN,NaN,NaN,NaN

In [24]:
df[(df["DIVERTED"] == 1)].count()

FL_DATE                    2925
AIRLINE                    2925
AIRLINE_CODE               2925
DOT_CODE                   2925
FL_NUMBER                  2925
ORIGIN                     2925
ORIGIN_CITY                2925
DEST                       2925
DEST_CITY                  2925
CRS_DEP_TIME               2925
DEP_TIME                   2925
DEP_DELAY                  2925
TAXI_OUT                   2925
WHEELS_OFF                 2925
WHEELS_ON                  2652
TAXI_IN                    2652
CRS_ARR_TIME               2925
ARR_TIME                   2653
ARR_DELAY                     0
CANCELLED                  2925
CANCELLATION_CODE             0
DIVERTED                   2925
CRS_ELAPSED_TIME           2925
ELAPSED_TIME                  0
AIR_TIME                      0
DISTANCE                   2925
DELAY_DUE_CARRIER             0
DELAY_DUE_WEATHER             0
DELAY_DUE_NAS                 0
DELAY_DUE_SECURITY            0
DELAY_DUE_LATE_AIRCRAFT       0
dtype: int64

In [25]:
df = df.drop(columns = ['WHEELS_OFF','WHEELS_ON'])

In [26]:
df[(df["CANCELLED"] == 1) & 
                 df["DEP_TIME"].notna() & 
                 df["DEP_DELAY"].notna()]

# print(filtered_df[["DEP_TIME", "DEP_DELAY", "TAXI_OUT"]])

,FL_DATE,AIRLINE,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
10271,2022-05-16,Delta Air Lines Inc.,DL,19790,432,LGA,"New York, NY",DFW,"Dallas/Fort Worth, TX",1505.0,1459.0,-6.0,NaN,NaN,1810.0,NaN,NaN,1.0,C:National Aviation System,0.0,245.0,NaN,NaN,1389.0,NaN,NaN,NaN,NaN,NaN
10297,2023-06-03,Delta Air Lines Inc.,DL,19790,1925,SJU,"San Juan, PR",MSP,"Minneapolis, MN",1525.0,1552.0,27.0,NaN,NaN,2026.0,NaN,NaN,1.0,A:Carrier Caused,0.0,361.0,NaN,NaN,2404.0,NaN,NaN,NaN,NaN,NaN
19449,2022-02-11,American Airlines Inc.,AA,19805,2078,SMF,"Sacramento, CA",DFW,"Dallas/Fort Worth, TX",1430.0,1450.0,20.0,NaN,NaN,1945.0,NaN,NaN,1.0,A:Carrier Caused,0.0,195.0,NaN,NaN,1431.0,NaN,NaN,NaN,NaN,NaN
21876,2023-03-13,Southwest Airlines Co.,WN,19393,3652,SDF,"Louisville, KY",ATL,"Atlanta, GA",630.0,623.0,-7.0,NaN,NaN,755.0,NaN,NaN,1.0,A:Carrier Caused,0.0,85.0,NaN,NaN,321.0,NaN,NaN,NaN,NaN,NaN
29773,2023-07-15,American Airlines Inc.,AA,19805,348,DFW,"Dallas/Fort Worth, TX",SNA,"Santa Ana, CA",2010.0,2018.0,8.0,NaN,NaN,2113.0,NaN,NaN,1.0,B:Weather,0.0,183.0,NaN,NaN,1205.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2957632,2022-08-04,Delta Air Lines Inc.,DL,19790,2769,EWR,"Newark, NJ",ATL,"Atlanta, GA",1658.0,1701.0,3.0,NaN,NaN,1929.0,NaN,NaN,1.0,C:National Aviation System,0.0,151.0,NaN,NaN,746.0,NaN,NaN,NaN,NaN,NaN
2965891,2021-06-12,American Airlines Inc.,AA,19805,1362,DFW,"Dallas/Fort Worth, TX",SLC,"Salt Lake City, UT",1731.0,1802.0,31.0,NaN,NaN,1909.0,NaN,NaN,1.0,A:Carrier Caused,0.0,158.0,NaN,NaN,989.0,NaN,NaN,NaN,NaN,NaN
2966031,2021-12-07,Delta Air Lines Inc.,DL,19790,1510,ATL,"Atlanta, GA",MSY,"New Orleans, LA",1620.0,1613.0,-7.0,14.0,NaN,1655.0,NaN,NaN,1.0,B:Weather,0.0,95.0,NaN,NaN,425.0,NaN,NaN,NaN,NaN,NaN
2973218,2021-08-13,Southwest Airlines Co.,WN,19393,2100,PHX,"Phoenix, AZ",RNO,"Reno, NV",2115.0,2144.0,29.0,NaN,NaN,2255.0,NaN,NaN,1.0,A:Carrier Caused,0.0,100.0,NaN,NaN,601.0,NaN,NaN,NaN,NaN,NaN
2997180,2022-12-23,Delta Air Lines Inc.,DL,19790,928,DTW,"Detroit, MI",FLL,"Fort Lauderdale, FL",1425.0,1637.0,132.0,NaN,NaN,1734.0,NaN,NaN,1.0,B:Weather,0.0,189.0,NaN,NaN,1127.0,NaN,NaN,NaN,NaN,NaN

In [27]:
pd.set_option('display.max.rows', 75)

In [28]:
df = df[~((df["CANCELLED"] == 1) & 
                 df["DEP_TIME"].notna() & 
                 df["DEP_DELAY"].notna())]
#Removed these data for errorneous reports. The flighst were cancelled, yet had Departure time. Flights were not diverted, NUll elapsed time

In [29]:
df = df[~((df["DIVERTED"] == 1) & df["ARR_TIME"].isnull() & df["ELAPSED_TIME"].isnull())]
#Remove these data for fauly reports. The flights diverted, but no arrival time recorded and elapsed time is null

In [30]:
df

,FL_DATE,AIRLINE,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
1,2022-11-19,Delta Air Lines Inc.,DL,19790,1149,MSP,"Minneapolis, MN",SEA,"Seattle, WA",2120.0,2114.0,-6.0,9.0,38.0,2315.0,2310.0,-5.0,0.0,NaN,0.0,235.0,236.0,189.0,1399.0,NaN,NaN,NaN,NaN,NaN
2,2022-07-22,United Air Lines Inc.,UA,19977,459,DEN,"Denver, CO",MSP,"Minneapolis, MN",954.0,1000.0,6.0,20.0,5.0,1252.0,1252.0,0.0,0.0,NaN,0.0,118.0,112.0,87.0,680.0,NaN,NaN,NaN,NaN,NaN
3,2023-03-06,Delta Air Lines Inc.,DL,19790,2295,MSP,"Minneapolis, MN",SFO,"San Francisco, CA",1609.0,1608.0,-1.0,27.0,9.0,1829.0,1853.0,24.0,0.0,NaN,0.0,260.0,285.0,249.0,1589.0,0.0,0.0,24.0,0.0,0.0
6,2023-06-11,American Airlines Inc.,AA,19805,2134,DCA,"Washington, DC",BOS,"Boston, MA",1010.0,1001.0,-9.0,23.0,8.0,1159.0,1130.0,-29.0,0.0,NaN,0.0,109.0,89.0,58.0,399.0,NaN,NaN,NaN,NaN,NaN
8,2023-02-12,Spirit Air Lines,NK,20416,590,IAH,"Houston, TX",LAX,"Los Angeles, CA",530.0,527.0,-3.0,11.0,8.0,717.0,706.0,-11.0,0.0,NaN,0.0,227.0,219.0,200.0,1379.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999986,2022-02-09,Delta Air Lines Inc.,DL,19790,2841,ATL,"Atlanta, GA",EWR,"Newark, NJ",815.0,806.0,-9.0,15.0,7.0,1019.0,1001.0,-18.0,0.0,NaN,0.0,124.0,115.0,93.0,746.0,NaN,NaN,NaN,NaN,NaN
2999991,2021-12-03,Delta Air Lines Inc.,DL,19790,1146,MSP,"Minneapolis, MN",SNA,"Santa Ana, CA",1825.0,1833.0,8.0,23.0,7.0,2030.0,2022.0,-8.0,0.0,NaN,0.0,245.0,229.0,199.0,1522.0,NaN,NaN,NaN,NaN,NaN
2999995,2022-11-13,American Airlines Inc.,AA,19805,1522,JAX,"Jacksonville, FL",CLT,"Charlotte, NC",1742.0,1740.0,-2.0,10.0,6.0,1907.0,1851.0,-16.0,0.0,NaN,0.0,85.0,71.0,55.0,328.0,NaN,NaN,NaN,NaN,NaN
2999996,2022-11-02,American Airlines Inc.,AA,19805,1535,ORD,"Chicago, IL",AUS,"Austin, TX",1300.0,1254.0,-6.0,10.0,5.0,1556.0,1519.0,-37.0,0.0,NaN,0.0,176.0,145.0,130.0,977.0,NaN,NaN,NaN,NaN,NaN
2999997,2022-09-11,Delta Air Lines Inc.,DL,19790,2745,HSV,"Huntsville, AL",ATL,"Atlanta, GA",534.0,615.0,41.0,16.0,6.0,729.0,805.0,36.0,0.0,NaN,0.0,55.0,50.0,28.0,151.0,0.0,36.0,0.0,0.0,0.0

In [31]:
df[df["ARR_DELAY"]>0].count()

FL_DATE                    453351
AIRLINE                    453351
AIRLINE_CODE               453351
DOT_CODE                   453351
FL_NUMBER                  453351
ORIGIN                     453351
ORIGIN_CITY                453351
DEST                       453351
DEST_CITY                  453351
CRS_DEP_TIME               453351
DEP_TIME                   453351
DEP_DELAY                  453351
TAXI_OUT                   453351
TAXI_IN                    453351
CRS_ARR_TIME               453351
ARR_TIME                   453351
ARR_DELAY                  453351
CANCELLED                  453351
CANCELLATION_CODE               0
DIVERTED                   453351
CRS_ELAPSED_TIME           453351
ELAPSED_TIME               453351
AIR_TIME                   453351
DISTANCE                   453351
DELAY_DUE_CARRIER          256314
DELAY_DUE_WEATHER          256314
DELAY_DUE_NAS              256314
DELAY_DUE_SECURITY         256314
DELAY_DUE_LATE_AIRCRAFT    256314
dtype: int64

In [32]:
delay_reason_columns = [
    "DELAY_DUE_CARRIER", 
    "DELAY_DUE_WEATHER", 
    "DELAY_DUE_NAS", 
    "DELAY_DUE_SECURITY", 
    "DELAY_DUE_LATE_AIRCRAFT"
]
df[(df["ARR_DELAY"]>1500)&(df[delay_reason_columns]==0).any(axis=1)]
#Delay reasons is provided based on arrival delay. Arrival delay less than 15 minutes has no reason provided

,FL_DATE,AIRLINE,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
16537,2023-06-29,American Airlines Inc.,AA,19805,793,ORD,"Chicago, IL",CLT,"Charlotte, NC",729.0,929.0,1560.0,15.0,10.0,1029.0,1210.0,1541.0,0.0,NaN,0.0,120.0,101.0,76.0,599.0,1541.0,0.0,0.0,0.0,0.0
102558,2023-08-14,American Airlines Inc.,AA,19805,1161,SBP,"San Luis Obispo, CA",DFW,"Dallas/Fort Worth, TX",600.0,1052.0,1732.0,35.0,7.0,1130.0,1631.0,1741.0,0.0,NaN,0.0,210.0,219.0,177.0,1360.0,1732.0,0.0,9.0,0.0,0.0
277435,2023-02-24,American Airlines Inc.,AA,19805,362,LAX,"Los Angeles, CA",MIA,"Miami, FL",905.0,1340.0,1715.0,55.0,16.0,1647.0,2227.0,1780.0,0.0,NaN,0.0,282.0,347.0,276.0,2342.0,0.0,0.0,65.0,0.0,1715.0
328011,2023-06-12,American Airlines Inc.,AA,19805,241,ATL,"Atlanta, GA",MIA,"Miami, FL",1704.0,1818.0,1514.0,21.0,8.0,1904.0,2018.0,1514.0,0.0,NaN,0.0,120.0,120.0,91.0,594.0,0.0,0.0,0.0,0.0,1514.0
403258,2023-08-09,American Airlines Inc.,AA,19805,2016,SFO,"San Francisco, CA",PHX,"Phoenix, AZ",1215.0,1408.0,1553.0,17.0,9.0,1423.0,1616.0,1553.0,0.0,NaN,0.0,128.0,128.0,102.0,651.0,933.0,0.0,0.0,0.0,620.0
486828,2021-07-17,American Airlines Inc.,AA,19805,2850,FCA,"Kalispell, MT",LGA,"New York, NY",1355.0,1507.0,1512.0,14.0,5.0,2013.0,2133.0,1520.0,0.0,NaN,0.0,258.0,266.0,247.0,2035.0,1376.0,0.0,8.0,0.0,136.0
497414,2021-02-20,American Airlines Inc.,AA,19805,2583,IAH,"Houston, TX",CLT,"Charlotte, NC",1153.0,638.0,2565.0,15.0,15.0,1527.0,1003.0,2556.0,0.0,NaN,0.0,154.0,145.0,115.0,912.0,2556.0,0.0,0.0,0.0,0.0
504957,2022-06-19,American Airlines Inc.,AA,19805,639,TUS,"Tucson, AZ",ORD,"Chicago, IL",1205.0,1558.0,1673.0,29.0,11.0,1739.0,2135.0,1676.0,0.0,NaN,0.0,214.0,217.0,177.0,1437.0,1673.0,0.0,3.0,0.0,0.0
518982,2023-08-17,American Airlines Inc.,AA,19805,2139,MSN,"Madison, WI",DFW,"Dallas/Fort Worth, TX",1133.0,823.0,2690.0,28.0,10.0,1357.0,1042.0,2685.0,0.0,NaN,0.0,144.0,139.0,101.0,821.0,2685.0,0.0,0.0,0.0,0.0
553306,2023-01-30,American Airlines Inc.,AA,19805,1789,BUF,"Buffalo, NY",CLT,"Charlotte, NC",600.0,746.0,1546.0,34.0,13.0,803.0,1009.0,1566.0,0.0,NaN,0.0,123.0,143.0,96.0,546.0,1546.0,0.0,20.0,0.0,0.0
805908,2023-07-07,American Airlines Inc.,AA,19805,2011,IAH,"Houston, TX",CLT,"Charlotte, NC",656.0,1108.0,1692.0,16.0,31.0,1030.0,1458.0,1708.0,0.0,NaN,0.0,154.0,170.0,123.0,912.0,1692.0,0.0,16.0,0.0,0.0
845270,2023-08-29,American Airlines Inc.,AA,19805,1780,ORD,"Chicago, IL",LGA,"New York, NY",1318.0,1810.0,1732.0,14.0,7.0,1626.0,2108.0,1722.0,0.0,NaN,0.0,128.0,118.0,97.0,733.0,0.0,0.0,0.0,0.0,1722.0
960081,2023-05-03,American Airlines Inc.,AA,19805,1385,BOI,"Boise, ID",PHX,"Phoenix, AZ",655.0,810.0,1515.0,14.0,11.0,803.0,923.0,1520.0,0.0,NaN,0.0,128.0,133.0,108.0,735.0,1515.0,0.0,5.0,0.0,0.0
988558,2022-07-11,American Airlines Inc.,AA,19805,1059,AUS,"Austin, TX",DFW,"Dallas/Fort Worth, TX",1044.0,2153.0,2109.0,16.0,6.0,1151.0,2251.0,2100.0,0.0,NaN,0.0,67.0,58.0,36.0,190.0,4.0,0.0,0.0,0.0,2096.0
989357,2021-09-01,American Airlines Inc.,AA,19805,2021,CLE,"Cleveland, OH",CLT,"Charlotte, NC",813.0,1024.0,1571.0,20.0,8.0,1000.0,1156.0,1556.0,0.0,NaN,0.0,107.0,92.0,64.0,430.0,1556.0,0.0,0.0,0.0,0.0
1009612,2023-01-14,American Airlines Inc.,AA,19805,1681,MEM,"Memphis, TN",PHX,"Phoenix, AZ",712.0,1137.0,1705.0,13.0,4.0,948.0,1356.0,1688.0,0.0,NaN,0.0,216.0,199.0,182.0,1264.0,1688.0,0.0,0.0,0.0,0.0
1061307,2023-07-19,American Airlines Inc.,AA,19805,1949,SAN,"San Diego, CA",PHX,"Phoenix, AZ",1018.0,1439.0,1701.0,14.0,4.0,1145.0,1550.0,1685.0,0.0,NaN,0.0,87.0,71.0,53.0,304.0,1685.0,0.0,0.0,0.0,0.0
1211783,2022-07-22,American Airlines Inc.,AA,19805,2310,LGA,"New York, NY",MIA,"Miami, FL",1504.0,2218.0,1874.0,15.0,4.0,1828.0,56.0,1828.0,0.0,NaN,0.0,204.0,158.0,139.0,1096.0,1792.0,0.0,0.0,0.0,36.0
1239330,2023-06-12,American Airlines Inc.,AA,19805,2366,VPS,"Valparaiso, FL",DCA,"Washington, DC",1042.0,1159.0,1517.0,14.0,8.0,1358.0,1503.0,1505.0,0.0,NaN,0.0,136.0,124.0,102.0,789.0,806.0,0.0,0.0,0.0,699.0
1307754,2023-06-26,JetBlue Airways,B6,20409,153,DEN,"Denver, CO",LGA,"New York, NY",1715.0,1942.0,1587.0,24.0,6.0,2311.0,116.0,1565.0,0.0,NaN,0.0,236.0,214.0,184.0,1620.0,1421.0,0.0,0.0,0.0,144.0
1383097,2021-11-11,American Airlines Inc.,AA,19805,1161,BNA,"Nashville, TN",MIA,"Miami, FL",1336.0,830.0,2574.0,9.0,12.0,1650.0,1135.0,2565.0,0.0,NaN,0.0,134.0,125.0,104.0,806.0,2565.0,0.0,0.0,0.0,0.0
1407887,2022-02-09,American Airlines Inc.,AA,19805,1899,RDU,"Raleigh/Durham, NC",ORD,"Chicago, IL",1009.0,2255.0,2206.0,13.0,13.0,1125.0,2358.0,2193.0,0.0,NaN,0.0,136.0,123.0,97.0,646.0,2181.0,0.0,0.0,0.0,12.0
1444874,2021-08-05,American Airlines Inc.,AA,19805,1956,SFO,"San Francisco, CA",CLT,"Charlotte, NC",1111.0,1354.0,1603.0,24.0,9.0,1925.0,2149.0,1584.0,0.0,NaN,0.0,314.0,295.0,262.0,2296.0,73.0,0.0,0.0,0.0,1511.0
1616334,2021-03-06,American Airlines Inc.,AA,19805,1911,SJC,"San Jose, CA",PHX,"Phoenix, AZ",1110.0,2157.0,2087.0,18.0,4.0,1402.0,45.0,2083.0,0.0,NaN,0.0,112.0,108.0,86.0,621.0,2083.0,0.0,0.0,0.0,0.0
1619672,2023-06-29,American Airlines Inc.,AA,19805,2970,ORD,"Chicago, IL",PHL,"Philadelphia, PA",500.0,623.0,1523.0,10.0,16.0,758.0,911.0,1513.0,0.0,NaN,0.0,118.0,108.0,82.0,678.0,0.0,442.0,0.0,0.0,1071.0
1649840,2022-01-24,American Airlines Inc.,AA,19805,777,STL,"St. Louis, MO",DFW,"Dallas/Fort Worth, TX",1141.0,1753.0,1812.0,19.0,9.0,1344.0,1952.0,1808.0,0.0,NaN,0.0,123.0,119.0,91.0,550.0,1808.0,0.0,0.0,0.0,0.0
1663340,2021-12-20,American Airlines Inc.,AA,19805,2146,SRQ,"Sarasota/Bradenton, FL",ORD,"Chicago, IL",1456.0,1934.0,1718.0,24.0,7.0,1705.0,2122.0,1697.0,0.0,NaN,0.0,189.0,168.0,137.0,1050.0,1697.0,0.0,0.0,0.0,0.0
1719656,2023-04-03,American Airlines Inc.,AA,19805,490,ORD,"Chicago, IL",PHL,"Philadelphia, PA",1440.0,527.0,2327.0,19.0,8.0,1743.0,817.0,2314.0,0.0,NaN,0.0,123.0,110.0,83.0,678.0,409.0,0.0,0.0,0.0,1905.0
1886903,2022-08-17,American Airlines Inc.,AA,19805,1845,PBI,"West Palm Beach/Palm Beach, FL",CLT,"Charlotte, NC",1206.0,1516.0,1630.0,41.0,5.0,1359.0,1735.0,1656.0,0.0,NaN,0.0,113.0,139.0,93.0,590.0,1630.0,0.0,26.0,0.0,0.0
1897612,2023-05-15,American Airlines Inc.,AA,19805,2563,AUS,"Austin, TX",DFW,"Dallas/Fort Worth, TX",600.0,1158.0,1798.0,17.0,5.0,712.0,1254.0,1782.0,0.0,NaN,0.0,72.0,56.0,34.0,190.0,1782.0,0.0,0.0,0.0,0.0
1899200,2023-05-31,American Airlines Inc.,AA,19805,2418,MEM,"Memphis, TN",CLT,"Charlotte, NC",910.0,914.0,2884.0,37.0,10.0,1200.0,1220.0,2900.0,0.0,NaN,0.0,110.0,126.0,79.0,511.0,2884.0,0.0,16.0,0.0,0.0
2026734,2022-11-10,American Airlines Inc.,AA,19805,2007,STL,"St. Louis, MO",ORD,"Chicago, IL",722.0,745.0,2903.0,27.0,11.0,840.0,911.0,2911.0,0.0,NaN,0.0,78.0,86.0,48.0,258.0,2903.0,0.0,8.0,0.0,0.0
2071599,2023-05-16,JetBlue Airways,B6,20409,932,IAH,"Houston, TX",BOS,"Boston, MA",1844.0,2031.0,1547.0,21.0,3.0,2332.0,109.0,1537.0,0.0,NaN,0.0,228.0,218.0,194.0,1597.0,1270.0,0.0,0.0,0.0,267.0
2081365,2022-03-06,American Airlines Inc.,AA,19805,697,LIH,"Lihue, HI",PHX,"Phoenix, AZ",2217.0,20.0,1563.0,9.0,3.0,712.0,917.0,1565.0,0.0,NaN,0.0,355.0,357.0,345.0,2979.0,1563.0,0.0,2.0,0.0,0.0
2097337,2023-05-28,American Airlines Inc.,AA,19805,2884,BFL,"Bakersfield, CA",PHX,"Phoenix, AZ",1254.0,1309.0,2895.0,30.0,4.0,1429.0,1449.0,2900.0,0.0,NaN,0.0,95.0,100.0,66.0,425.0,1474.0,0.0,5.0,0.0,1421.0
2167744,2023-07-05,JetBlue Airways,B6,20409,64,SEA,"Seattle, WA",JFK,"New York, NY",1406.0,1608.0,1562.0,28.0,16.0,2229.0,56.0,1587.0,0.0,NaN,0.0,323.0,348.0,304.0,2422.0,0.0,1312.0,25.0,0.0,250.0
2210421,2023-08-25,American Airlines Inc.,AA,19805,2560,VPS,"Valparaiso, FL",DFW,"Dallas/Fort Worth, TX",701.0,759.0,2938.0,17.0,10.0,915.0,948.0,2913.0,0.0,NaN,0.0,134.0,109.0,82.0,641.0,2913.0,0.0,0.0,0.0,0.0
2247867,2023-07-14,Hawaiian Airlines Inc.,HA,19690,5,LAS,"Las Vegas, NV",HNL,"Honolulu, HI",1830.0,2125.0,1615.0,33.0,15.0,2145.0,48.0,1623.0,0.0,NaN,0.0,375.0,383.0,335.0,2762.0,1619.0,0.0,0.0,0.0,4.0
2271462,2023-06-03,American Airlines Inc.,AA,19805,2480,MSN,"Madison, WI",CLT,"Charlotte, NC",705.0,1230.0,1765.0,23.0,8.0,1015.0,1544.0,1769.0,0.0,NaN,0.0,130.0,134.0,103.0,708.0,1765.0,0.0,4.0,0.0,0.0
2325321,2021-12-17,JetBlue Airways,B6,20409,64,SEA,"Seattle, WA",JFK,"New York, NY",1356.0,2030.0,1834.0,18.0,11.0,2200.0,415.0,1815.0,0.0,NaN,0.0,304.0,285.0,256.0,2422.0,1791.0,0.0,0.0,0.0,24.0
2351103,2021-06-16,American Airlines Inc.,AA,19805,2182,BNA,"Nashville, TN",PHX,"Phoenix, AZ",800.0,1956.0,2156.0,9.0,5.0,1002.0,2108.0,2106.0,0.0,NaN,0.0,242.0,192.0,178.0,1449.0,2106.0,0.0,0.0,0.0,0.0
2394475,2022-03-28,American Airlines Inc.,AA,19805,1098,MCI,"Kansas City, MO",DFW,"Dallas/Fort Worth, TX",557.0,839.0,1602.0,23.0,12.0,750.0,1031.0,1601.0,0.0,NaN,0.0,113.0,112.0,77.0,460.0,1601.0,0.0,0.0,0.0,0.0
2428006,2023-07-29,American Airlines Inc.,AA,19805,1233,SMF,"Sacramento, CA",DFW,"Dallas/Fort Worth, TX",715.0,1112.0,1677.0,16.0,10.0,1239.0,1643.0,1684.0,0.0,NaN,0.0,204.0,211.0,185.0,1431.0,669.0,0.0,7.0,0.0,1008.0
2543712,2023-04-24,American Airlines Inc.,AA,19805,1791,MSY,"New Orleans, LA",CLT,"Charlotte, NC",1250.0,1405.0,1515.0,25.0,22.0,1547.0,1711.0,1524.0,0.0,NaN,0.0,117.0,126.0,79.0,651.0,8.0,0.0,9.0,0.0,1507.0
2593750,2022-02-17,American Airlines Inc.,AA,19805,892,MCI,"Kansas City, MO",MIA,"Miami, FL",534.0,951.0,1697.0,14.0,11.0,941.0,1342.0,1681.0,0.0,NaN,0.0,187.0,171.0,146.0,1251.0,15.0,0.0,0.0,0.0,1666.0
2597290,2022-12-19,Hawaiian Airlines Inc.,HA,19690,30,OGG,"Kahului, HI",SEA,"Seattle, WA",1525.0,1813.0,1608.0,9.0,45.0,2250.0,212.0,1642.0,0.0,NaN,0.0,325.0,359.0,305.0,2640.0,1642.0,0.0,0.0,0.0,0.0
2600497,2023-03-30,American Airlines Inc.,AA,19805,619,SLC,"Salt Lake City, UT",MIA,"Miami, FL",1327.0,1710.0,1663.0,18.0,11.0,2000.0,2324.0,1644.0,0.0,NaN,0.0,273.0,254.0,225.0,2088.0,5.0,0.0,0.0,0.0,1639.0
2606159,2023-07-11,American Airlines Inc.,AA,19805,1806,TPA,"Tampa, FL",PHL,"Philadelphia, PA",700.0,725.0,2905.0,12.0,4.0,934.0,1006.0,2912.0,0.0,NaN,0.0,154.0,161.0,145.0,920.0,348.0,0.0,7.0,0.0,2557.0
2627015,2021-12-18,American Airlines Inc.,AA,19805,2081,SMF,"Sacramento, CA",DFW,"Dallas/Fort Worth, TX",1210.0,2137.0,2007.0,21.0,4.0,1730.0,250.0,2000.0,0.0,NaN,0.0,200.0,193.0,168.0,1431.0,2000.0,0.0,0.0,0.0,0.0
2639771,2022-03-26,American Airlines Inc.,AA,19805,2854,DSM,"Des Moines, IA",CLT,"Charlotte, NC",640.0,806.0,2966.0,15.0,6.0,1004.0,1058.0,2934.0,0.0,NaN,0.0,144.0,112.0,91.0,815.0,2934.0,0.0,0.0,0.0,0.0
2645048,2021-02-13,American Airlines Inc.,AA,19805,2566,SEA,"Seattle, WA",DFW,"Dallas/Fort Worth, TX",535.0,706.0,1531.0,44.0,11.0,1137.0,1318.0,1541.0,0.0,NaN,0.0,242.0,252.0,197.0,1660.0,1531.0,0.0,10.0,0.0,0.0
2741864,2022-10-10,American Airlines Inc.,AA,19805,2719,RIC,"Richmond, VA",DFW,"Dallas/Fort Worth, TX",1541.0,2101.0,1760.0,16.0,5.0,1805.0,2301.0,1736.0,0.0,NaN,0.0,204.0,180.0,159.0,1158.0,0.0,0.0,0.0,0.0,1736.0
2757214,2022-10-18,American Airlines Inc.,AA,19805,32,LAX,"Los Angeles, CA",JFK,"New York, NY",1325.0,2028.0,1863.0,13.0,19.0,2153.0,451.0,1858.0,0.0,NaN,0.0,328.0,323.0,291.0,2475.0,189.0,0.0,0.0,0.0,1669.0
2856785,2023-07-01,American Airlines Inc.,AA,19805,1322,DEN,"Denver, CO",DFW,"Dallas/Fort Worth, TX",1836.0,2111.0,1595.0,12.0,5.0,2139.0,2351.0,1572.0,0.0,NaN,0.0,123.0,100.0,83.0,641.0,707.0,0.0,0.0,0.0,865.0
2990925,2022-03-09,American Airlines Inc.,AA,19805,2216,PDX,"Portland, OR",DFW,"Dallas/Fort Worth, TX",600.0,1312.0,1872.0,21.0,6.0,1146.0,1845.0,1859.0,0.0,NaN,0.0,226.0,213.0,186.0,1616.0,1859.0,0.0,0.0,0.0,0.0

In [33]:
df[(df["ARR_DELAY"]>15) & df[delay_reason_columns].isnull().any(axis=1)]

Empty DataFrame
Columns: [FL_DATE, AIRLINE, AIRLINE_CODE, DOT_CODE, FL_NUMBER, ORIGIN, ORIGIN_CITY, DEST, DEST_CITY, CRS_DEP_TIME, DEP_TIME, DEP_DELAY, TAXI_OUT, TAXI_IN, CRS_ARR_TIME, ARR_TIME, ARR_DELAY, CANCELLED, CANCELLATION_CODE, DIVERTED, CRS_ELAPSED_TIME, ELAPSED_TIME, AIR_TIME, DISTANCE, DELAY_DUE_CARRIER, DELAY_DUE_WEATHER, DELAY_DUE_NAS, DELAY_DUE_SECURITY, DELAY_DUE_LATE_AIRCRAFT]
Index: []

In [34]:
df.groupby(["ORIGIN_CITY","ORIGIN"])["DEP_DELAY"].mean().sort_values(ascending=False).head(10)

ORIGIN_CITY                ORIGIN
Bakersfield, CA            BFL       68.587500
South Bend, IN             SBN       67.000000
San Luis Obispo, CA        SBP       47.921875
Grand Forks, ND            GFK       47.000000
Monterey, CA               MRY       37.020833
Martha's Vineyard, MA      MVY       36.956835
Newburgh/Poughkeepsie, NY  SWF       35.539683
Idaho Falls, ID            IDA       32.588235
Aguadilla, PR              BQN       27.447183
Missoula, MT               MSO       23.383033
Name: DEP_DELAY, dtype: float64

In [35]:
df.groupby(["ORIGIN_CITY","ORIGIN"])["TAXI_IN"].mean().sort_values(ascending=False).head(10)

ORIGIN_CITY                 ORIGIN
Wilmington, DE              ILG       19.812500
Newburgh/Poughkeepsie, NY   SWF       14.476190
Latrobe, PA                 LBE       13.344978
Charleston/Dunbar, WV       CRW       12.781250
Trenton, NJ                 TTN       12.427509
Christiansted, VI           STX       11.912329
Bakersfield, CA             BFL       11.762500
Ponce, PR                   PSE       11.387097
Bloomington/Normal, IL      BMI       11.333333
Cedar Rapids/Iowa City, IA  CID       11.164894
Name: TAXI_IN, dtype: float64

In [36]:
df_delay_airlines = (df.dropna(subset=["ARR_DELAY"]).groupby(["AIRLINE", "AIRLINE_CODE"])["ARR_DELAY"].mean().sort_values(ascending=False))
for airline, delay in df_delay_airlines.items():
    mins,sec = divmod(delay*60, 60)
    print(f"{airline[0]:<25}{airline[1]:<5}{int(mins)} min {int(sec)} sec")

JetBlue Airways          B6   16 min 28 sec
Frontier Airlines Inc.   F9   15 min 29 sec
Spirit Air Lines         NK   11 min 32 sec
American Airlines Inc.   AA   9 min 12 sec
Hawaiian Airlines Inc.   HA   6 min 48 sec
Southwest Airlines Co.   WN   6 min 44 sec
United Air Lines Inc.    UA   6 min 16 sec
Alaska Airlines Inc.     AS   2 min 48 sec
Delta Air Lines Inc.     DL   2 min 13 sec

In [37]:
df_delay_airports = (df.dropna(subset=["ARR_DELAY"]).groupby(["DEST_CITY", "DEST"])["ARR_DELAY"].mean().sort_values(ascending=False))
for airports, delay in df_delay_airports.items():
    mins,sec = divmod(delay*60, 60)
    print(f"{airports[0]:<25}{airports[1]:<5}{int(mins)} min {int(sec)} sec")

Bakersfield, CA          BFL  43 min 29 sec
San Luis Obispo, CA      SBP  35 min 13 sec
Durango, CO              DRO  28 min 57 sec
Pago Pago, TT            PPG  25 min 42 sec
Aguadilla, PR            BQN  22 min 45 sec
Wilmington, DE           ILG  20 min 18 sec
Newburgh/Poughkeepsie, NYSWF  20 min 4 sec
Sioux Falls, SD          FSD  19 min 56 sec
Rochester, MN            RST  19 min 42 sec
Worcester, MA            ORH  19 min 21 sec
Akron, OH                CAK  18 min 13 sec
Cedar Rapids/Iowa City, IACID  15 min 52 sec
Mission/McAllen/Edinburg, TXMFE  15 min 46 sec
San Juan, PR             SJU  15 min 23 sec
Bismarck/Mandan, ND      BIS  14 min 25 sec
Traverse City, MI        TVC  14 min 11 sec
Trenton, NJ              TTN  14 min 2 sec
Syracuse, NY             SYR  14 min 2 sec
Islip, NY                ISP  13 min 54 sec
Bloomington/Normal, IL   BMI  13 min 44 sec
Fayetteville, AR         XNA  13 min 42 sec
New York, NY             JFK  13 min 42 sec
Buffalo, NY              BUF  13 min 40 sec
Medford, OR              MFR  13 min 33 sec
Missoula, MT             MSO  13 min 28 sec
White Plains, NY         HPN  13 min 19 sec
Ponce, PR                PSE  13 min 17 sec
Rochester, NY            ROC  13 min 0 sec
Newark, NJ               EWR  12 min 54 sec
Des Moines, IA           DSM  12 min 52 sec
Bangor, ME               BGR  12 min 40 sec
Burlington, VT           BTV  12 min 36 sec
Nantucket, MA            ACK  12 min 36 sec
Knoxville, TN            TYS  12 min 33 sec
Wichita, KS              ICT  12 min 31 sec
Gunnison, CO             GUC  12 min 28 sec
Memphis, TN              MEM  12 min 28 sec
Orlando, FL              MCO  12 min 23 sec
Key West, FL             EYW  12 min 5 sec
Portland, ME             PWM  12 min 2 sec
Martha's Vineyard, MA    MVY  11 min 56 sec
West Palm Beach/Palm Beach, FLPBI  11 min 55 sec
Jacksonville, FL         JAX  11 min 45 sec
Hartford, CT             BDL  11 min 42 sec
Birmingham, AL           BHM  11 min 40 sec
Richmond, VA             RIC  11 min 24 sec
Albany, NY               ALB  11 min 21 sec
Providence, RI           PVD  11 min 21 sec
Bend/Redmond, OR         RDM  11 min 18 sec
Fresno, CA               FAT  11 min 15 sec
El Paso, TX              ELP  11 min 7 sec
Louisville, KY           SDF  10 min 44 sec
Oklahoma City, OK        OKC  10 min 33 sec
Wrangell, AK             WRG  10 min 28 sec
Norfolk, VA              ORF  10 min 24 sec
Mobile, AL               MOB  10 min 23 sec
Fort Lauderdale, FL      FLL  10 min 23 sec
Indianapolis, IN         IND  10 min 22 sec
Lubbock, TX              LBB  10 min 20 sec
Eagle, CO                EGE  10 min 19 sec
Barrow, AK               BRW  10 min 18 sec
Cleveland, OH            CLE  10 min 15 sec
Dallas/Fort Worth, TX    DFW  10 min 10 sec
Columbus, OH             CMH  10 min 8 sec
Miami, FL                MIA  10 min 7 sec
Santa Barbara, CA        SBA  10 min 5 sec
Philadelphia, PA         PHL  10 min 0 sec
Bristol/Johnson City/Kingsport, TNTRI  10 min 0 sec
Corpus Christi, TX       CRP  9 min 44 sec
Cold Bay, AK             CDB  9 min 42 sec
Boston, MA               BOS  9 min 39 sec
Roanoke, VA              ROA  9 min 39 sec
Milwaukee, WI            MKE  9 min 38 sec
Madison, WI              MSN  9 min 36 sec
Fargo, ND                FAR  9 min 35 sec
Wilmington, NC           ILM  9 min 34 sec
Charleston, SC           CHS  9 min 33 sec
Omaha, NE                OMA  9 min 32 sec
Pittsburgh, PA           PIT  9 min 28 sec
Tulsa, OK                TUL  9 min 27 sec
Grand Forks, ND          GFK  9 min 25 sec
New York, NY             LGA  9 min 23 sec
Atlantic City, NJ        ACY  9 min 22 sec
Christiansted, VI        STX  9 min 15 sec
Eugene, OR               EUG  9 min 10 sec
Raleigh/Durham, NC       RDU  9 min 10 sec
Pensacola, FL            PNS  9 min 9 sec
Reno, NV                 RNO  9 min 3 sec
Grand Junction, CO       GJT  9 min 2 sec
Rapid City, SD           RAP  8 min 59 sec
Billings, MT             BIL  8 min 58 sec
Albuquerque, NM          ABQ  8 min 45 sec
San Antonio, TX          SAT  8 min 42 sec
New Orleans, LA          MSY  8 min 40 sec
Cincinnati, OH           CVG  8 min 40 sec
Colorado Springs, CO     COS  8 min 39 sec
Manchester, NH           MHT  8 min 38 sec
Las Vegas, NV            LAS  8 min 35 sec
Ontario, CA              ONT  8 min 30 sec
Boise, ID                BOI  8 min 28 sec
Tampa, FL                TPA  8 min 28 sec
Monterey, CA             MRY  8 min 28 sec
Spokane, WA              GEG  8 min 27 sec
Tucson, AZ               TUS  8 min 11 sec
Kansas City, MO          MCI  8 min 7 sec
Grand Rapids, MI         GRR  8 min 3 sec
Bozeman, MT              BZN  8 min 3 sec
Little Rock, AR          LIT  7 min 58 sec
Amarillo, TX             AMA  7 min 51 sec
Austin, TX               AUS  7 min 39 sec
Savannah, GA             SAV  7 min 38 sec
Sarasota/Bradenton, FL   SRQ  7 min 15 sec
Dallas, TX               DAL  7 min 15 sec
Washington, DC           DCA  7 min 2 sec
Fort Myers, FL           RSW  7 min 1 sec
Charleston/Dunbar, WV    CRW  6 min 54 sec
Harlingen/San Benito, TX HRL  6 min 50 sec
Santa Rosa, CA           STS  6 min 45 sec
Midland/Odessa, TX       MAF  6 min 44 sec
Scranton/Wilkes-Barre, PAAVP  6 min 21 sec
Valparaiso, FL           VPS  6 min 21 sec
Montrose/Delta, CO       MTJ  6 min 19 sec
Denver, CO               DEN  6 min 17 sec
Kalispell, MT            FCA  6 min 17 sec
Charlotte, NC            CLT  6 min 16 sec
Hyannis, MA              HYA  6 min 14 sec
Burbank, CA              BUR  6 min 0 sec
Chicago, IL              ORD  6 min 0 sec
Columbia, SC             CAE  6 min 0 sec
Chicago, IL              MDW  5 min 50 sec
Sacramento, CA           SMF  5 min 47 sec
Nashville, TN            BNA  5 min 47 sec
Baltimore, MD            BWI  5 min 47 sec
St. Louis, MO            STL  5 min 45 sec
Melbourne, FL            MLB  5 min 45 sec
Houston, TX              IAH  5 min 44 sec
Panama City, FL          ECP  5 min 41 sec
Honolulu, HI             HNL  5 min 40 sec
Palm Springs, CA         PSP  5 min 30 sec
Phoenix, AZ              PHX  5 min 28 sec
Myrtle Beach, SC         MYR  5 min 26 sec
Hayden, CO               HDN  5 min 21 sec
Chattanooga, TN          CHA  5 min 19 sec
Washington, DC           IAD  5 min 18 sec
Latrobe, PA              LBE  5 min 16 sec
Hilo, HI                 ITO  5 min 12 sec
Asheville, NC            AVL  5 min 2 sec
Cordova, AK              CDV  5 min 2 sec
Greensboro/High Point, NCGSO  4 min 55 sec
Jackson, WY              JAC  4 min 54 sec
San Diego, CA            SAN  4 min 54 sec
Bellingham, WA           BLI  4 min 53 sec
Greer, SC                GSP  4 min 51 sec
Los Angeles, CA          LAX  4 min 51 sec
Portland, OR             PDX  4 min 41 sec
Oakland, CA              OAK  4 min 35 sec
Houston, TX              HOU  4 min 24 sec
Detroit, MI              DTW  4 min 18 sec
Salt Lake City, UT       SLC  4 min 14 sec
Lihue, HI                LIH  4 min 6 sec
Lexington, KY            LEX  4 min 5 sec
Daytona Beach, FL        DAB  4 min 5 sec
San Jose, CA             SJC  3 min 55 sec
San Francisco, CA        SFO  3 min 41 sec
Harrisburg, PA           MDT  3 min 39 sec
Anchorage, AK            ANC  3 min 34 sec
Juneau, AK               JNU  3 min 33 sec
Kahului, HI              OGG  3 min 31 sec
Santa Ana, CA            SNA  3 min 21 sec
Fairbanks, AK            FAI  3 min 18 sec
Charlotte Amalie, VI     STT  3 min 5 sec
Huntsville, AL           HSV  3 min 4 sec
Long Beach, CA           LGB  3 min 0 sec
Sitka, AK                SIT  2 min 55 sec
Kona, HI                 KOA  2 min 53 sec
Minneapolis, MN          MSP  2 min 53 sec
Jackson/Vicksburg, MS    JAN  2 min 51 sec
Atlanta, GA              ATL  2 min 44 sec
Gainesville, FL          GNV  2 min 28 sec
Kotzebue, AK             OTZ  2 min 10 sec
Green Bay, WI            GRB  2 min 7 sec
Petersburg, AK           PSG  2 min 0 sec
Seattle, WA              SEA  1 min 54 sec
Kodiak, AK               ADQ  1 min 41 sec
Bethel, AK               BET  1 min 39 sec
Ketchikan, AK            KTN  1 min 31 sec
King Salmon, AK          AKN  1 min 5 sec
Adak Island, AK          ADK  0 min 26 sec
Tallahassee, FL          TLH  0 min 23 sec
Augusta, GA              AGS  0 min 14 sec
Deadhorse, AK            SCC  0 min 6 sec
Dayton, OH               DAY  -1 min 35 sec
Dillingham, AK           DLG  -1 min 34 sec
Pasco/Kennewick/Richland, WAPSC  -1 min 32 sec
Baton Rouge, LA          BTR  -1 min 30 sec
Yakutat, AK              YAK  -1 min 29 sec
Everett, WA              PAE  -1 min 2 sec
Gulfport/Biloxi, MS      GPT  -2 min 52 sec
Nome, AK                 OME  -2 min 35 sec
Great Falls, MT          GTF  -2 min 34 sec
Springfield, MO          SGF  -2 min 1 sec
Branson, MO              BKG  -3 min 46 sec
Fayetteville, NC         FAY  -3 min 33 sec
Duluth, MN               DLH  -3 min 26 sec
South Bend, IN           SBN  -3 min 24 sec
Idaho Falls, ID          IDA  -4 min 39 sec
Jacksonville/Camp Lejeune, NCOAJ  -4 min 30 sec
Charlottesville, VA      CHO  -6 min 53 sec
Appleton, WI             ATW  -6 min 38 sec
Guam, TT                 GUM  -7 min 54 sec
Saipan, TT               SPN  -8 min 0 sec
Evansville, IN           EVV  -11 min 50 sec
Gustavus, AK             GST  -13 min 4 sec
Niagara Falls, NY        IAG  -21 min 0 sec
College Station/Bryan, TXCLL  -23 min 0 sec

In [38]:
total_flights = df.groupby("AIRLINE")["FL_DATE"].count()
cancelled_flights = df[df["CANCELLED"]==1].groupby("AIRLINE")["FL_DATE"].count()
cancellation_rate = round(cancelled_flights/total_flights * 100,2)
#total_flights.sort_values(ascending=False)
cancelled_flights.sort_values(ascending=False)
# cancellation_rate.sort_values(ascending=False)

AIRLINE
Southwest Airlines Co.    7920
American Airlines Inc.    5172
Delta Air Lines Inc.      2774
United Air Lines Inc.     2663
JetBlue Airways           1826
Spirit Air Lines          1594
Alaska Airlines Inc.      1025
Frontier Airlines Inc.     945
Hawaiian Airlines Inc.     171
Name: FL_DATE, dtype: int64

In [39]:
total_flights = df.groupby("AIRLINE")["FL_DATE"].count()
diverted_flights = df[df["DIVERTED"]==1].groupby("AIRLINE")["FL_DATE"].count()
diversion_rate = round(diverted_flights/total_flights * 100,2)
#total_flights.sort_values(ascending=False)
diverted_flights.sort_values(ascending=False)
#diversion_rate.sort_values(ascending=False)

AIRLINE
Southwest Airlines Co.    675
American Airlines Inc.    598
Delta Air Lines Inc.      473
United Air Lines Inc.     388
JetBlue Airways           213
Spirit Air Lines          137
Alaska Airlines Inc.       99
Frontier Airlines Inc.     55
Hawaiian Airlines Inc.     15
Name: FL_DATE, dtype: int64

In [40]:
df.groupby("AIRLINE")["DELAY_DUE_LATE_AIRCRAFT","DELAY_DUE_CARRIER"].sum().sort_values(by="DELAY_DUE_LATE_AIRCRAFT", ascending=False)

/var/folders/lf/5q1mlg6j6l7d5fv5_q8srhkh0000gn/T/ipykernel_36414/112931751.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby("AIRLINE")["DELAY_DUE_LATE_AIRCRAFT","DELAY_DUE_CARRIER"].sum().sort_values(by="DELAY_DUE_LATE_AIRCRAFT", ascending=False)

                        DELAY_DUE_LATE_AIRCRAFT  DELAY_DUE_CARRIER
AIRLINE
Southwest Airlines Co.                1966636.0          1330001.0
American Airlines Inc.                1651511.0          1396980.0
United Air Lines Inc.                  899293.0           744944.0
Delta Air Lines Inc.                   674536.0          1274056.0
JetBlue Airways                        591057.0           678378.0
Frontier Airlines Inc.                 397012.0           282570.0
Spirit Air Lines                       300556.0           307318.0
Alaska Airlines Inc.                   202303.0           181537.0
Hawaiian Airlines Inc.                  72452.0           100743.0

In [41]:
df.groupby(["DEST_CITY", "DEST"])["DELAY_DUE_WEATHER","DELAY_DUE_SECURITY"].sum().sort_values(by="DELAY_DUE_WEATHER", ascending=False).head(20)

/var/folders/lf/5q1mlg6j6l7d5fv5_q8srhkh0000gn/T/ipykernel_36414/3988373374.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(["DEST_CITY", "DEST"])["DELAY_DUE_WEATHER","DELAY_DUE_SECURITY"].sum().sort_values(by="DELAY_DUE_WEATHER", ascending=False).head(20)

                            DELAY_DUE_WEATHER  DELAY_DUE_SECURITY
DEST_CITY             DEST
Dallas/Fort Worth, TX DFW             42797.0              1963.0
Atlanta, GA           ATL             39106.0              1783.0
Denver, CO            DEN             33644.0              1203.0
Chicago, IL           ORD             29374.0              1223.0
Orlando, FL           MCO             25898.0              1603.0
Charlotte, NC         CLT             25398.0              1022.0
Newark, NJ            EWR             21404.0               764.0
Los Angeles, CA       LAX             19682.0              1619.0
Las Vegas, NV         LAS             18143.0              1418.0
New York, NY          JFK             18043.0              1149.0
                      LGA             15939.0              1029.0
Miami, FL             MIA             15411.0              1099.0
Seattle, WA           SEA             15006.0               766.0
Boston, MA            BOS             14405.0               395.0
Phoenix, AZ           PHX             13423.0              1169.0
Houston, TX           IAH             12695.0               733.0
Minneapolis, MN       MSP             12413.0               724.0
Fort Lauderdale, FL   FLL             12361.0              1627.0
Tampa, FL             TPA             11029.0               611.0
San Francisco, CA     SFO             10771.0               350.0

In [42]:
df.groupby(["AIRLINE","CANCELLATION_CODE"])["CANCELLED"].count().sort_values(ascending=False).unstack(fill_value=0)

CANCELLATION_CODE,A:Carrier Caused,B:Weather,C:National Aviation System,Security
AIRLINE,,,,
Alaska Airlines Inc.,771,243,10,1
American Airlines Inc.,1804,3110,227,31
Delta Air Lines Inc.,1600,975,197,2
Frontier Airlines Inc.,498,447,0,0
Hawaiian Airlines Inc.,165,6,0,0
JetBlue Airways,876,601,349,0
Southwest Airlines Co.,3354,4013,547,6
Spirit Air Lines,612,871,109,2
United Air Lines Inc.,1252,1194,139,78

In [43]:
df.groupby(["AIRLINE", "ORIGIN","ORIGIN_CITY", "DEST", "DEST_CITY"]).size()\
  .reset_index(name="COUNT")\
  .sort_values(["AIRLINE", "COUNT"], ascending=[True, False])\
  .drop_duplicates(subset=["AIRLINE"])

,AIRLINE,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,COUNT
30,Alaska Airlines Inc.,ANC,"Anchorage, AK",SEA,"Seattle, WA",1475
966,American Airlines Inc.,LAX,"Los Angeles, CA",DFW,"Dallas/Fort Worth, TX",1230
2104,Delta Air Lines Inc.,MCO,"Orlando, FL",ATL,"Atlanta, GA",1417
3203,Frontier Airlines Inc.,PHL,"Philadelphia, PA",MCO,"Orlando, FL",503
3518,Hawaiian Airlines Inc.,OGG,"Kahului, HI",HNL,"Honolulu, HI",2065
3673,JetBlue Airways,DCA,"Washington, DC",BOS,"Boston, MA",1006
5629,Southwest Airlines Co.,SAN,"San Diego, CA",SMF,"Sacramento, CA",1127
6161,Spirit Air Lines,FLL,"Fort Lauderdale, FL",ATL,"Atlanta, GA",473
7110,United Air Lines Inc.,IAH,"Houston, TX",DEN,"Denver, CO",951

In [44]:
# Prediction
features = [
    "CRS_DEP_TIME", "DEP_DELAY", "TAXI_OUT", "DISTANCE", 
    "DELAY_DUE_CARRIER", "DELAY_DUE_WEATHER", "DELAY_DUE_NAS", 
    "DELAY_DUE_SECURITY", "DELAY_DUE_LATE_AIRCRAFT"
]
target = "ARR_DELAY"
df_late_arrivals= df[df["ARR_DELAY"]>0].copy()
df_late_arrivals.loc[:, features] = df_late_arrivals[features].fillna(0)
x_train, x_test, y_train, y_test = train_test_split(df_late_arrivals[features], df_late_arrivals[target], test_size=0.2, random_state=42)

In [45]:
df_late_arrivals.shape[0]

453351

In [46]:
model = LinearRegression()
model.fit(x_train, y_train)

y_pred = model.predict(x_test)

In [47]:
rmse = np.sqrt(mean_squared_error(y_test,y_pred))
r2 = r2_score(y_test,y_pred)

print(f"Model Performance")
print(f"RMSE: {rmse:.2f}")
print(f"R² Score: {r2: .2f} ")

Model Performance
RMSE: 3.73
R² Score:  1.00

In [48]:
importance = pd.Series(model.coef_, index=features).sort_values(ascending=False)
print("Feature Importance:\n", importance)

Feature Importance:
 DELAY_DUE_WEATHER          0.906993
DELAY_DUE_CARRIER          0.903939
DELAY_DUE_NAS              0.900360
DELAY_DUE_LATE_AIRCRAFT    0.897181
DELAY_DUE_SECURITY         0.870470
DEP_DELAY                  0.081834
TAXI_OUT                   0.050723
DISTANCE                   0.000010
CRS_DEP_TIME              -0.000695
dtype: float64

In [49]:
df_late_arrivals["ARR_DELAY"].mean()

39.89031677441982

In [50]:
correlation_matrix = df_late_arrivals.corr()
print(correlation_matrix["ARR_DELAY"].sort_values(ascending=False))

/var/folders/lf/5q1mlg6j6l7d5fv5_q8srhkh0000gn/T/ipykernel_36414/276403985.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = df_late_arrivals.corr()

ARR_DELAY                  1.000000
DEP_DELAY                  0.976590
DELAY_DUE_CARRIER          0.717038
DELAY_DUE_LATE_AIRCRAFT    0.607022
DELAY_DUE_NAS              0.263403
DELAY_DUE_WEATHER          0.241309
DOT_CODE                   0.083591
TAXI_OUT                   0.073174
DEP_TIME                   0.069067
CRS_DEP_TIME               0.063370
TAXI_IN                    0.043909
CRS_ARR_TIME               0.041025
ELAPSED_TIME               0.027866
DELAY_DUE_SECURITY         0.025184
CRS_ELAPSED_TIME           0.024727
DISTANCE                   0.014775
AIR_TIME                   0.012881
FL_NUMBER                 -0.007217
ARR_TIME                  -0.051498
CANCELLED                       NaN
DIVERTED                        NaN
Name: ARR_DELAY, dtype: float64

In [51]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(model, x_train, y_train, cv=5, scoring='r2')
print("Cross-Validation R2 score:", scores)
print("Mean R2", scores.mean())

Cross-Validation R2 score: [0.99751717 0.99751332 0.9974084  0.99734092 0.9976803 ]
Mean R2 0.9974920207417615

In [52]:
from sklearn.metrics import mean_absolute_error

# Get predictions on test set
y_pred = model.predict(x_test)

# Compute MAE
mae = mean_absolute_error(y_test, y_pred)

# Compute Mean of Actual Values
mean_actual = y_test.mean()

# Compute Accuracy
accuracy = 1 - (mae / mean_actual)
print("Regression Accuracy:", accuracy)

Regression Accuracy: 0.9255135852812248

In [53]:
features = [
    "CRS_DEP_TIME", "DEP_DELAY", "TAXI_OUT", "DISTANCE", 
    "DELAY_DUE_CARRIER", "DELAY_DUE_WEATHER", "DELAY_DUE_NAS", 
    "DELAY_DUE_SECURITY", "DELAY_DUE_LATE_AIRCRAFT"
]
target_cancelled = "CANCELLED"  # Binary target (0 = Not Canceled, 1 = Canceled)

In [54]:
df_classification = df.copy()
df_classification[features] = df_classification[features].fillna(0)

In [55]:
df_classification

,FL_DATE,AIRLINE,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
1,2022-11-19,Delta Air Lines Inc.,DL,19790,1149,MSP,"Minneapolis, MN",SEA,"Seattle, WA",2120.0,2114.0,-6.0,9.0,38.0,2315.0,2310.0,-5.0,0.0,NaN,0.0,235.0,236.0,189.0,1399.0,0.0,0.0,0.0,0.0,0.0
2,2022-07-22,United Air Lines Inc.,UA,19977,459,DEN,"Denver, CO",MSP,"Minneapolis, MN",954.0,1000.0,6.0,20.0,5.0,1252.0,1252.0,0.0,0.0,NaN,0.0,118.0,112.0,87.0,680.0,0.0,0.0,0.0,0.0,0.0
3,2023-03-06,Delta Air Lines Inc.,DL,19790,2295,MSP,"Minneapolis, MN",SFO,"San Francisco, CA",1609.0,1608.0,-1.0,27.0,9.0,1829.0,1853.0,24.0,0.0,NaN,0.0,260.0,285.0,249.0,1589.0,0.0,0.0,24.0,0.0,0.0
6,2023-06-11,American Airlines Inc.,AA,19805,2134,DCA,"Washington, DC",BOS,"Boston, MA",1010.0,1001.0,-9.0,23.0,8.0,1159.0,1130.0,-29.0,0.0,NaN,0.0,109.0,89.0,58.0,399.0,0.0,0.0,0.0,0.0,0.0
8,2023-02-12,Spirit Air Lines,NK,20416,590,IAH,"Houston, TX",LAX,"Los Angeles, CA",530.0,527.0,-3.0,11.0,8.0,717.0,706.0,-11.0,0.0,NaN,0.0,227.0,219.0,200.0,1379.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999986,2022-02-09,Delta Air Lines Inc.,DL,19790,2841,ATL,"Atlanta, GA",EWR,"Newark, NJ",815.0,806.0,-9.0,15.0,7.0,1019.0,1001.0,-18.0,0.0,NaN,0.0,124.0,115.0,93.0,746.0,0.0,0.0,0.0,0.0,0.0
2999991,2021-12-03,Delta Air Lines Inc.,DL,19790,1146,MSP,"Minneapolis, MN",SNA,"Santa Ana, CA",1825.0,1833.0,8.0,23.0,7.0,2030.0,2022.0,-8.0,0.0,NaN,0.0,245.0,229.0,199.0,1522.0,0.0,0.0,0.0,0.0,0.0
2999995,2022-11-13,American Airlines Inc.,AA,19805,1522,JAX,"Jacksonville, FL",CLT,"Charlotte, NC",1742.0,1740.0,-2.0,10.0,6.0,1907.0,1851.0,-16.0,0.0,NaN,0.0,85.0,71.0,55.0,328.0,0.0,0.0,0.0,0.0,0.0
2999996,2022-11-02,American Airlines Inc.,AA,19805,1535,ORD,"Chicago, IL",AUS,"Austin, TX",1300.0,1254.0,-6.0,10.0,5.0,1556.0,1519.0,-37.0,0.0,NaN,0.0,176.0,145.0,130.0,977.0,0.0,0.0,0.0,0.0,0.0
2999997,2022-09-11,Delta Air Lines Inc.,DL,19790,2745,HSV,"Huntsville, AL",ATL,"Atlanta, GA",534.0,615.0,41.0,16.0,6.0,729.0,805.0,36.0,0.0,NaN,0.0,55.0,50.0,28.0,151.0,0.0,36.0,0.0,0.0,0.0

In [56]:
x_train, x_test, y_train, y_test = train_test_split(df_classification[features], df_classification[target_cancelled], test_size=0.2, random_state=42, stratify = df_classification[target_cancelled])

In [77]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
model = LogisticRegression(class_weight="balanced", random_state=42)
model.fit(x_train, y_train)

rf_model= RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(x_train, y_train)

/Users/nishitshah/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

RandomForestClassifier(random_state=42)

In [78]:
y_pred = model.predict(x_test)

In [79]:
from sklearn.metrics import accuracy_score, classification_report
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.9999917263404363
Classification Report:
               precision    recall  f1-score   support

         0.0       1.00      1.00      1.00    236913
         1.0       1.00      1.00      1.00      4818

    accuracy                           1.00    241731
   macro avg       1.00      1.00      1.00    241731
weighted avg       1.00      1.00      1.00    241731

In [80]:


feature_importance = pd.Series(rf_model.feature_importances_, index=features).sort_values(ascending=False)
print("Feature Importance:\n", feature_importance)

Feature Importance:
 TAXI_OUT                   9.545742e-01
DEP_DELAY                  4.129030e-02
DELAY_DUE_CARRIER          1.413501e-03
DELAY_DUE_NAS              8.133059e-04
CRS_DEP_TIME               7.596224e-04
DELAY_DUE_LATE_AIRCRAFT    7.502399e-04
DISTANCE                   3.730028e-04
DELAY_DUE_WEATHER          2.575889e-05
DELAY_DUE_SECURITY         2.777242e-08
dtype: float64

In [68]:
df[df["CANCELLED"]==0].shape[0]

1184562

In [67]:
df_classification[df_classification["CANCELLED"]==0].shape[0]

1184562

In [69]:
df_classification["CANCELLED"].value_counts(normalize=True)*100

0.0    98.00687
1.0     1.99313
Name: CANCELLED, dtype: float64

In [72]:
from sklearn.metrics import roc_auc_score
auc_score = roc_auc_score(y_test, model.predict_proba(x_test)[:,1])
print(f"ROC_AUC Score:{auc_score:.4f}")

ROC_AUC Score:1.0000

In [73]:
df_classification.corr()["CANCELLED"]

/var/folders/lf/5q1mlg6j6l7d5fv5_q8srhkh0000gn/T/ipykernel_36414/3733820300.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_classification.corr()["CANCELLED"]

DOT_CODE                   0.001062
FL_NUMBER                  0.008862
CRS_DEP_TIME               0.010390
DEP_TIME                        NaN
DEP_DELAY                 -0.036515
TAXI_OUT                  -0.256458
TAXI_IN                         NaN
CRS_ARR_TIME               0.002824
ARR_TIME                        NaN
ARR_DELAY                       NaN
CANCELLED                  1.000000
DIVERTED                  -0.006689
CRS_ELAPSED_TIME          -0.013194
ELAPSED_TIME                    NaN
AIR_TIME                        NaN
DISTANCE                  -0.015616
DELAY_DUE_CARRIER         -0.022204
DELAY_DUE_WEATHER         -0.007168
DELAY_DUE_NAS             -0.025965
DELAY_DUE_SECURITY        -0.003305
DELAY_DUE_LATE_AIRCRAFT   -0.028141
Name: CANCELLED, dtype: float64

In [74]:
df_classification.isnull().sum()

FL_DATE                          0
AIRLINE                          0
AIRLINE_CODE                     0
DOT_CODE                         0
FL_NUMBER                        0
ORIGIN                           0
ORIGIN_CITY                      0
DEST                             0
DEST_CITY                        0
CRS_DEP_TIME                     0
DEP_TIME                     24090
DEP_DELAY                        0
TAXI_OUT                         0
TAXI_IN                      24092
CRS_ARR_TIME                     0
ARR_TIME                     24091
ARR_DELAY                    26744
CANCELLED                        0
CANCELLATION_CODE          1184562
DIVERTED                         0
CRS_ELAPSED_TIME                 0
ELAPSED_TIME                 26744
AIR_TIME                     26744
DISTANCE                         0
DELAY_DUE_CARRIER                0
DELAY_DUE_WEATHER                0
DELAY_DUE_NAS                    0
DELAY_DUE_SECURITY               0
DELAY_DUE_LATE_AIRCRAFT          0
dtype: int64

In [75]:
from sklearn.dummy import DummyClassifier

dummy = DummyClassifier(strategy="most_frequent")  # Predicts "Not Canceled" always
dummy.fit(x_train, y_train)
dummy_accuracy = dummy.score(x_test, y_test)

print(f"Baseline Accuracy: {dummy_accuracy:.4f}")

Baseline Accuracy: 0.9801

In [95]:
df.isnull().sum()

FL_DATE                          0
AIRLINE                          0
AIRLINE_CODE                     0
DOT_CODE                         0
FL_NUMBER                        0
ORIGIN                           0
ORIGIN_CITY                      0
DEST                             0
DEST_CITY                        0
CRS_DEP_TIME                     0
DEP_TIME                     24090
DEP_DELAY                    24090
TAXI_OUT                     24090
TAXI_IN                      24090
CRS_ARR_TIME                     0
ARR_TIME                     24090
ARR_DELAY                    26742
CANCELLED                        0
CANCELLATION_CODE          1184560
DIVERTED                         0
CRS_ELAPSED_TIME                 0
ELAPSED_TIME                 26742
AIR_TIME                     26742
DISTANCE                         0
DELAY_DUE_CARRIER                0
DELAY_DUE_WEATHER                0
DELAY_DUE_NAS                    0
DELAY_DUE_SECURITY               0
DELAY_DUE_LATE_AIRCRAFT          0
dtype: int64

In [92]:
df=df.drop(df[(df["CANCELLED"] == 0) & (df["TAXI_IN"].isnull())].index)

In [84]:
df[df["ARR_DELAY"]<0].shape[0]

706404

In [94]:
df[delay_reason_columns] = df[delay_reason_columns].fillna(0)

In [96]:
df.shape[0]

1208650

In [97]:
df.to_csv("final_airline_data.csv", index=False)